@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    /* Light theme (default) */
    :root {
        --color-bg: #FFFFFF;
        --color-text: #0B212A;
    }

    /* Dark theme */
    .dark {
        --color-bg: #0B212A;
        --color-text: #FFFFFF;
    }

    body {
        background-color: var(--color-bg);
        color: var(--color-text);
        font-family: 'Jost', sans-serif;
        transition: background-color 0.3s, color 0.3s;
    }

    ::-webkit-scrollbar {
        width: 3px;
    }

    ::-webkit-scrollbar-track {
        background: var(--color-bg);
    }

    ::-webkit-scrollbar-thumb {
        background: #C79F48;
        /* old-gold */
    }
}